algorithms/build
algorithms/src/*.o

*.log
*.dSYM/
1.1/experiment_1_1_35

algorithms/tests/linked_list_tests

algorithms/tests/list_tests

algorithms/tests/vector_tests

algorithms/tests/sorting_tests

algorithms/bin/benchmark
algorithms/data
algorithms/bin/unionfind

algorithms/bin/scratch

algorithms/tests/quicksort_tests
